<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <title>Basic Example</title>
</head>
<body>
    <div id="container"></div>
    Hello Kitty
    <script type="text/template" id="angry_cats-template">
      <thead>
        <tr class='header'>
          <th>Rank</th>
          <th>Votes</th>
          <th>Name</th>
          <th>Image</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </script>

    <script type="text/template" id="angry_cat-template">
      <td><%= rank %></td>
      <td><%= votes %></td>
      <td><%= name %></td>
      <td><img class='angry_cat_pic' src='<%= image_path %>' /></td>
      <td>
        <div class='rank_up'><img src='assets/images/up.gif' /></div>
        <div class='rank_down'><img src='assets/images/down.gif' /></div>
      </td>
      <td><a href="#" class="disqualify">Disqualify</a></td>
    </script>
<!--<canvas width="500" height="500" id="static-canvas""></canvas>-->
    <script src="build/build.js"></script>
</body>
</html>
