body {
  padding: 0;
  margin: auto;
  width: auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../image/bg.jpg") #000;
  color: #fff;
  text-shadow: 2px 1px 6px #000;
  background-color: #333;
  background-image: url("../image/bg.jpg"), -webkit-gradient(linear, left top, left bottom, from(#333), to(#666));
  /* Saf4+, Chrome */
  background-image: url("../image/bg.jpg"), -webkit-linear-gradient(top, #333, #666);
  /* Chrome 10+, Saf5.1+ */
  background-image: url("../image/bg.jpg"), -moz-linear-gradient(top, #333, #666);
  /* FF3.6+ */
  background-image: url("../image/bg.jpg"), -ms-linear-gradient(top, #333, #666);
  /* IE10 */
  background-image: url("../image/bg.jpg"), -o-linear-gradient(top, #333, #666);
  /* Opera 11.10+ */
  background-image: url("../image/bg.jpg"), linear-gradient(top, #333, #666);
  /* W3C */
  /*    animation: animatedBackground 400s linear infinite;
    -ms-animation: animatedBackground 400s linear infinite;
    -moz-animation: animatedBackground 400s linear infinite;
    -webkit-animation: animatedBackground 400s linear infinite;*/
}

#container {
  width: 1200px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.wrapper {
  width: 99%;
  margin: 0 auto;
  overflow: hidden;
}
body.fullscreen {
  overflow: hidden;
}
.fullscreen .wrapper {
  width: auto;
  max-width: none;
  overflow: hidden;
}
.fullscreen #head, .fullscreen #external-links {
  display: none;
}
.fullscreen #sckscope, .fullscreen #container {
  width: auto;
  max-width: none;
  text-align: left;
}
.fullscreen .track-info {
  display: none;
}
.fullscreen canvas {
  margin-bottom: -3px;
  width: 33%;
  margin-left: -1px;
}
img.logo {
  width: 30px;
  float: left;
  margin: 4px 10px 0 3px;
}
h1 {
  margin: 10px 0 10px 0;
}
h3 {
  margin: 0px 0px;
}
a {
  color: #00b7ff;
}
#main {
  clear: both;
}
.floatLeft {
  float: left;
}
#sckscope {
  position: relative;
  text-align: center;
  max-width: 1200px;
  box-shadow: 0px 0px 100px #000;
}
.mobile #sckscope {
  margin-bottom: 24px;
}
#sckscope canvas {
  margin-bottom: -3px;
}
.mobile #sckscope canvas {
  vertical-align: bottom;
  margin-bottom: -3px;
  line-height: 0px;
}
.track-info {
  display: none;
  background: #000;
  background: rgba(0, 0, 0, .6);
  padding: 20px;
  min-height: 100px;
}
.track-info img {
  float: left;
  margin: 0 20px 20px 0;
  width: 100px;
}
.outlink {
  margin: 10px;
  display: block;
  text-align: right;
  color: #fff;
  font-size: 10px;
}
.kMessages {
  width: 300px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -150px;
  background: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 4px;
  opacity: 0.9;
  padding: 10px;
}
#container:hover form {
  visibility: visible;
  opacity: 1;
}
.mobile form > span {
  margin-right: 2%;
  margin-bottom: 23px;
}
.mobile form span span {
  font-size: 120%;
  display: inline-block;
}
.mobile input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}
.mobile input[type=range] {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  transform: scale(2);
  display: inline-block;
  margin-right: -50%;
}
.mobile.fullscreen input[type=range] {
  -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1); /* Safari and Chrome */
  -o-transform: scale(1); /* Opera */
  transform: scale(1);
  transform: scale(1);
  display: inline-block;
  margin-right: -50%;
}
.wrapper:before {
  content: "Hover over kaleidoscope for animation controls.";
  width: 400px;
  margin-left: -200px;
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 50%;
  text-align: center;
  -webkit-animation: fadeOut 0.5s normal forwards;
  -moz-animation: fadeOut 0.5s normal forwards;
  animation: fadeOut 0.5s normal forwards;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}

.mobile .wrapper:before {
  font-size: 16px;
  content: "Touch kaleidoscope for animation controls.";
  width: 320px;
  margin-left: -160px;
}

form {
  visibility: visible;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  margin: 0px;
  position: absolute;
  padding: 10px;
}
form span {
  height: 20px;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
form input[type=text] {
  margin: 0px;
  width: 400px;
}
input[type=submit], input[type=button] {
  background: #fff;
  color: #09f;
  border: 1px solid #00b7ff;
  border-radius: 4px;
  padding: 4px 10px;
}
input[type=submit]:hover, input[type=button]:hover {
  background: #fff;
  color: #333;
  border: 1px solid #333;
  opacity: 0.9;
}
.no-support {
  display: none;
  margin: 20px auto;
  width: 1000px;
}
#video {
  position: absolute;
}
.vid-img {}
audio {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 3;
}
body.flash audio {
  display: none;
}
#external-links {
  margin: 20px auto;
  width: 99%;
  position: relative;
}
#external-links a {
  margin-right: 20px;
}
#external-links .project-link {
  margin: 0;
  display: block;
  position: absolute;
  top: 0;
  right: 1%;
  color: #fff;
  text-decoration: none;
}
.mobile #external-links .project-link {
  position: relative;
  font-size: 10px;
  display: block;
  margin: 10px 0;
}
#messages {
  text-align: left;
  width: 99%;
  margin: 10px auto 24px auto;
  font-size: 12px;
}
.mobile #messages {
  font-size: 14px;
}
@keyframes fadeOut {
  from {
    opacity: 100%;
    visibility: visibile;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 100%;
    visibility: visibile;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@-ms-keyframes fadeOut {
  from {
    opacity: 100%;
    visibility: visibile;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 100%;
    visibility: visibile;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
